@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

:root {
	--white: #fff;
	--primary: #9356dc;
	--purple-gradient: linear-gradient(#ff79da, #9356dc);
	--light-gray: #f6f6f6;
	--dark-gray: #ececec;
	--green: #99e2d0;
	--green-font: #008766;
	--footer-color: #353535;

	--logo-font: 'Shrikhand', cursive;
	--text-font: 'Roboto', sans-serif;
}

@keyframes loading-screen {
	0% {
		opacity: 1;
		transform: translateX(0);
	}
	100% {
		opacity: 0;
		transform: translateX(-3000px);
	}
}
@keyframes loading-circle {
	0% {
		transform: translateY(0%);
	}
	25% {
		transform: translateY(-50%);
	}
	50% {
		transform: translateY(50%);
	}
	75% {
		transform: translateY(-50%);
	}
	100% {
		transform: translateY(0%);
	}
}
@keyframes heart {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes dishes {
	0% {
		transform: translateY(25px);
		opacity: 0;
	}
	25% {
		opacity: 1;
	}
	50% {
		transform: translateY(0px);
	}
	100% {
		opacity: 1;
	}
}

* {
	box-sizing: border-box;
	font-family: var(--text-font);
}
.logo-font {
	font-family: var(--logo-font);
}
body {
	margin: 0;
}
a {
	color: currentColor;
	text-decoration: none;
}
ul {
	padding: 0;
}
li {
	list-style-type: none;
}
.container {
	width: 90%;
	max-width: 1215px;
	margin: auto;
}

/* BACKGROUND */
.screen,
header,
.operation,
.menu__bubble,
figure {
	background-color: var(--white);
}
body,
.step,
.section--gray {
	background-color: var(--light-gray);
}
.btn,
.loading-spinner__circle {
	background: var(--purple-gradient);
}
.new,
.menu__line,
.menu__check {
	background-color: var(--green);
}
.location {
	background-color: var(--dark-gray);
}
.new {
	color: var(--green-font);
}
footer {
	background-color: var(--footer-color);
}

.fa-store {
	color: var(--primary);
}
.menu__check,
footer,
footer a,
.btn a,
.number {
	color: var(--white);
}

/* SPINNER */
.screen {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	animation: loading-screen 1ms 3000ms linear forwards;
	z-index: 20;
}
.screen .loading-spinner {
	display: flex;
	justify-content: space-evenly;
	width: 150px;
	height: 100px;
}
.loading-spinner__circle {
	position: relative;
	z-index: 2;
	width: 25px;
	height: 25px;
	border-radius: 50px;
	animation: loading-circle 1300ms ease-in-out;
}
.screen .loading-spinner__circle--1 {
	animation-delay: 433.3333333333ms;
}
.screen .loading-spinner__circle--2 {
	animation-delay: 866.6666666667ms;
}
.screen .loading-spinner__circle--3 {
	animation-delay: 1300ms;
}

/*  HEADER  */
header {
	height: 66px;
	display: flex;
	justify-content: flex-start;
}
header .container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 90%;
	margin: auto;
}
header img {
	width: 170px;
	height: auto;
	margin: auto;
}
header i {
	font-size: 1.4rem;
}

/* ---------------------------------------------------- */
/* ---------------------HOME PAGE---------------------- */
/* ---------------------------------------------------- */

/*  LOCATION  */
.location {
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: inset 0px 13px 14px -13px #b6b6b6;
}
.fa-location-dot {
	font-size: 1.1rem;
}
.location span {
	margin-left: 16px;
	font-size: 1.12rem;
}

/*  RESERVATION  */
.reservation {
	padding: 40px 0 60px 0;
}
.reservation .container {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}
.reservation h1 {
	width: 70%;
	margin: 0;
}
.reservation p:not(.btn p) {
	margin: 15px 0 30px 0;
	font-size: 1.1rem;
}
/*  BUTTON  */
.btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	border-radius: 50px;
	height: 50px;
	border: none;
	box-shadow: 0px 5px 15px -3px #909090;
	opacity: 1;
	padding: 20px 30px;
}
.btn:hover {
	opacity: 0.9;
}

/*  OPERATION  */
.operation h2 {
	margin-bottom: 30px;
}
.steps {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-left: 12.5px;
	margin: 0 auto;
}
.step {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	height: 75px;
	max-width: 450px;
	border-radius: 20px;
	margin-bottom: 25px;
	box-shadow: 0px 5px 15px -3px #dcdcdc;
	padding-right: 55px;
}
.step p:not(.number) {
	margin-left: 25px;
	font-weight: 600;
}

.number {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 30px 0 -12.5px;
	font-size: 0.9rem;
	background-color: var(--primary);
	border-radius: 50px;
	width: 25px;
	height: 25px;
}
.fa-solid {
	font-size: 1.3rem;
}
.fa-mobile-screen-button,
.fa-list-ul {
	color: #838383;
}
.restaurant,
.operation {
	padding: 30px 0 50px 0;
}

/*  RESTAURANTS  */
.restaurant h2 {
	margin-bottom: 30px;
}
figure {
	position: relative;
	width: 100%;
	height: 250px;
	border-radius: 15px;
	margin: 0 0 20px 0;
	box-shadow: 0px 5px 15px -3px #dcdcdc;
}
figure img {
	width: 100%;
	height: 166px;
	object-fit: cover;
	border-radius: 15px 15px 0 0;
}
.new {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 15px;
	right: 15px;
	width: 90px;
	height: 30px;
	border-radius: 3px;
	font-size: 0.9rem;
	font-weight: bold;
}
figcaption {
	position: relative;
	padding: 15px 15px;
}
figure h3 {
	margin: 0;
	font-size: 1.1rem;
}
figure p {
	margin: 5px 0 0 0;
}
figure .heart {
	position: absolute;
	top: 20px;
	right: 25px;
	font-size: 1.5rem;
}
figure .fa-solid,
.title-heart .fa-solid {
	opacity: 0;
	background: linear-gradient(#9356dc, #ff79da);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
}
figure .fa-solid:hover,
.title-heart .fa-solid:hover {
	animation: heart 400ms forwards;
}

/*  FOOTER  */
footer {
	padding: 25px 0;
}
footer h5 {
	margin: 0;
	font-size: 1.25rem;
	font-weight: lighter;
}
footer ul {
	line-height: 1.7;
}
footer .fa-solid {
	margin-right: 5px;
}
footer .fa-utensils {
	font-size: 0.9rem;
}
footer .fa-handshake-angle {
	font-size: 0.7rem;
}

/* ---------------------------------------------------- */
/* ---------------------MENU PAGE---------------------- */
/* ---------------------------------------------------- */

.menu-page {
	position: relative;
	background-color: var(--white);
	padding-top: 200px;
}
.menu-page img {
	position: absolute;
	top: 0;
	width: 100%;
	height: 270px;
	object-fit: cover;
}
.menu-section {
	position: relative;
	width: 100%;
	max-width: 1000px;
	border-radius: 40px 40px 0 0;
	padding: 30px 0 70px 0;
	margin: 0 auto -45px auto;
	text-align: center;
}
.menu-section .container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	max-width: 550px;
	text-align: left;
}
.menu {
	padding: 25px 0 30px 0;
}

/* TITLE */
.menu__title {
	display: flex;
	align-items: center;
	max-width: 350px;
	margin: auto;
}
.menu-page h1 {
	margin: 0;
	font-size: 1.75rem;
}
.title-heart {
	flex: 1;
	min-width: 60px;
	height: 33.11px;
	position: relative;
	margin-left: 10px;
}
.heart-icon {
	position: absolute;
	right: 20px;
	font-size: 1.6rem;
}

/*  MENU  */
.menu h2 {
	text-transform: uppercase;
	font-size: 1.05rem;
	margin-bottom: 7px;
}
.menu__line {
	width: 45px;
	height: 3px;
	margin-bottom: 20px;
}
.menu__bubble {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 15px auto 0 auto;
	border-radius: 15px;
	box-shadow: 0px 5px 15px -3px #b6b6b6;
	animation: dishes 2000ms ease-in-out forwards;
	opacity: 0;
	overflow: hidden;
	height: 85px;
}
.bubble__title {
	width: 80%;
}
.bubble__title h3 {
	margin: 0;
	font-size: 1.2rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.bubble__title p:not(.price) {
	font-size: 1.03rem;
	margin: 5px 0 0 0;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.price {
	font-weight: bold;
	margin: 0;
}
.bubble__text {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	padding: 0 15px;
	width: 95%;
	overflow: hidden;
}
.menu__check {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 0;
	height: 85px;
	border-radius: 0 14px 14px 0;
	overflow: hidden;
	transition-duration: 700ms;
}
.fa-circle-check {
	font-size: 1.2rem;
	transition: transform 700ms;
	width: 23px;
	height: 23px;
}

/*  ANIMATIONS  */
.menu__bubble--1 {
	animation-delay: 100ms;
}
.menu__bubble--2 {
	animation-delay: 300ms;
}
.menu__bubble--3 {
	animation-delay: 500ms;
}
.menu__bubble--4 {
	animation-delay: 700ms;
}
.menu__bubble--5 {
	animation-delay: 900ms;
}
.menu__bubble--6 {
	animation-delay: 1100ms;
}
.menu__bubble--7 {
	animation-delay: 1300ms;
}
.menu__bubble--8 {
	animation-delay: 1500ms;
}
.menu__bubble--9 {
	animation-delay: 1700ms;
}
.menu__bubble--10 {
	animation-delay: 1900ms;
}
.menu__bubble:hover > .menu__check {
	width: 60px;
}
.menu__bubble:hover > .fa-circle-check {
	transform: translateX(0) rotate(360deg);
}
.menu-page footer {
	position: absolute;
	margin-top: 45px;
	width: 100%;
}

/* MEDIA QUERIES */
@media (min-width: 650px) {
	.cards {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.cards a {
		width: 48%;
		height: 230px;
		margin-bottom: 25px;
	}
	figure {
		height: 100%;
		margin-bottom: 25px;
	}
	figure img {
		height: 156px;
	}
	figure figcaption {
		padding-top: 10px;
	}
	figure .heart {
		top: 10px;
	}

	footer ul {
		display: flex;
		justify-content: flex-start;
		flex-wrap: wrap;
	}
	footer li {
		width: 50%;
		margin-bottom: 5px;
	}
	.menu-page {
		padding-top: 280px;
	}
	.menu-page img {
		height: 320px;
	}
}

@media (min-width: 800px) {
	.fa-location-dot {
		font-size: 1rem;
	}
	.reservation h1 {
		font-size: 2.5rem;
	}

	footer ul {
		font-size: 1rem;
	}
	footer li {
		width: 30%;
	}
	footer li:first-child {
		width: 35%;
	}
	footer li:nth-child(3) {
		width: 25%;
	}
	footer li:last-child {
		width: 10%;
	}
	.menu-page {
		padding-top: 350px;
	}
	.menu-page img {
		height: 400px;
	}
}

@media (min-width: 900px) {
	.steps {
		flex-direction: row;
		justify-content: space-between;
	}
	.step {
		padding-right: 15px;
	}
	.step p:not(.number) {
		margin-left: 15px;
	}
	.number {
		margin-right: 10px;
	}
}
@media (min-width: 1000px) {
	.container {
		width: 80%;
	}
	.operation h2 {
		margin: 0 auto 30px auto;
	}
	.step {
		width: 30%;
	}

	.cards a {
		height: 270px;
	}
	figure img {
		height: 186px;
	}

	footer .container {
		display: flex;
	}
	footer nav {
		flex: 1;
	}
	footer h5 {
		display: inline-block;
		width: 20%;
		display: flex;
		align-items: center;
	}
}
